header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: transparent;
    transition: all ease .5s;
}

.blackHeader {
    background-color: #141414ab;
}

.header--logo {
    height: 35px;
}

.header--logo img {
    height: 100%;
    width: 120px;
    cursor: pointer;
}

.header--perfil {
    height: 40px;
}

.header--perfil img {
    height: 100%;
    width: 40px;
    cursor: pointer;
    border-radius: 5px;
}

